
/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    
 }

@media only screen and (min-width: 1600px) {
  .head_bg .content_head .scroll_bottom {
    padding-top: 17%; 
  }
}



/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  .logo {
    font-size: 2.5rem;
 }

  .small_screen {
    padding: 10px 30px;
  }

  .cv-container{
    background-color: rgba(255, 255, 0, 0.329);
    width: 80%;
    margin: 0px auto;
  }
  
  .cv-wrapper {
    width: 100%;
    height: 800px;
    /* padding-bottom: 56.25%;  */
    /* play with this until right */
    margin-left: 0px;
    overflow: hidden;
    position: relative;
  }
  
  .cv-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  


/* Medium Devices, Desktops (769px - 992px  */

@media only screen and (max-width: 992px) {
  .logo {
    font-size: 2rem;
 }

  .sticky_navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 10000;
    }

    .cv-container{
      background-color: rgba(255, 255, 0, 0.329);
      width: 85%;
      margin: 0px auto;
    }



 }

@media only screen and (min-width: 769px) 
and (max-width:991px) {
  /* .cv-container{
    background-color: rgba(255, 255, 0, 0.329);
    width: 98%;
    margin: 0px auto;
  } */
  
}

/* Small Devices, Tablets ( 000px - 768px) */


@media only screen and (max-width: 768px) {
  .sticky_navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 10000;
  }

  .head_bg .mnu_line .logo {
    text-align: left;
   }

   .logo {
    font-size: 2rem;
   }

  .logo_img a {
    background: transparent url('../img/logo.png') no-repeat center center; 
  }
  footer .logo a {
      color: #588792;
  }
  .head_bg .content_head .scroll_bottom {
    padding-top: 20%; }
  .blog-section-bg .blog-content,
  .blog-single-bg .blog-content {
    margin-right: 0px;
  }
  
  .cv-container{
    background-color: rgba(255, 255, 0, 0.329);
    width: 95%;
    margin: 0px auto;
  }
  
  .cv-wrapper {
    width: 100%;
    height: 800px;
    padding-bottom: 56.25%; /* play with this until right */
    margin-left: 0px;
    overflow: hidden;
    position: relative;
  }
  
  .cv-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .download-button {
    margin-bottom: 15px;
  }
  
  .button-decoration {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .button-decoration a {
    font-weight: 600;
    font-size: 1.6rem;
    color: black;
  }



/* new media query added by me */

@media only screen and (min-width: 641px) 
and (max-width:767px) {
  .sticky_navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 10000;
  
  }

  .small_screen {
    padding: 20px 10px;
    text-align: justify;
  } 

  .toggle-mnu {
    right: 22px;
    top: 3px;
  }

  .toggle-mnu span, .toggle-mnu span::after, .toggle-mnu span::before {
    background-color: #000;
    height: 3px;
  }
  
}



/* Extra Small Devices, Phones (000 - 640px) */

@media only screen and (max-width: 640px) {
  .sticky_navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    z-index: 10000;
  }

  .small_screen {
    padding: 20px 10px;
    text-align: justify;
  } 

  section .section_header {
    margin-bottom: 45px;
  }

  section .section_header h2::before {
    margin-top: 11px;
    width: 25%;
  }

  section .section_header h2::after {
    margin-top: 11px;
    width: 25%;
  }

  section .section_header h2 {
    font-size: 2rem;
  }

  #about img {
    top: -1px;
  }

  #about .col-md-3 {
    padding: 20px 0;
  }


  .download-button {
    margin-bottom: 13px;
  }
  
  .button-decoration {
    padding: 8px 17px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .button-decoration a {
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
  }
  #contact {
    padding: 50px 0 40px 0;
    /* padding: 50px 0 25px 0; */
    }
  }
  }
  #contact .contact_block .col-md-4 {
    padding: 20px 0;
  }
  #contact .contact_block img {
    top: 6px;
  }
  #contact .contact_block_border {
    margin: 0 33px;
    padding: 36px 10px;
  }
  .toggle-mnu {
    right: 22px;
    top: 3px;
}
.toggle-mnu span, .toggle-mnu span::after, 
.toggle-mnu span::before {
    background-color: #000;
    height: 3px;
}

.head_bg .overlay_color,
.blog_head_bg .overlay_color {
  background: #fff;
  z-index: 10;
}




/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }




/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

.breadcrumb { 
  padding: 20px 0; 
}


}
